.menuBtn {
    display: inline-flex;
}

.heroTop {
    grid-template-columns: .75fr 1.25fr;
}

.brand {
    display: flex;
    order: 1;
}

@media only screen and (max-width: 768px) {
    .menuBtn {
        display: inline-flex;
    }
    /* Adjust other responsive breakpoints as needed */
}