.logo {
    float: right;
}

.hamburger-menu {
    display: block;
}

.dropdown {
    display: block;
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}